.post {
  padding: 2.625rem 0;

  &-info {
    color: $grey-1;
    font-family: $serif;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    width: 46.375rem;
    color: $default-color;
    font-family: $serif;
    font-size: 4.25rem;
    margin: 1rem 0 2.625rem;
    text-align: center;
  }

  &-line {
    border-top: 0.4rem solid $default-shade;
    display: block;
    margin: 0 auto 2.625rem;
    width: 4.24rem;
  }

  p {
    margin: 0 0 1rem;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    text-align: center;
  }
}
